<div style="height: 100vh">
  <div
    class="nav"
    style="
      background-color: var(--primary-900);
      height: 8vh;
      position: fixed;
      width: 100vw;
    "
  >
    <p style="margin-left: 40%" class="fs-2 mt-2 text-white">
      SSS International School
    </p>
  </div>
  <section style="height: 90vh">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div style="height: 80%; width: 50%" class="col-6">
          <ng-lottie [options]="options"></ng-lottie>
        </div>
        <div class="col-6">
          <h2 class="display-4 text-primary">Login</h2>
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <!-- Username input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="username"
              />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
              />
            </div>

            <p
              class="error"
              [ngClass]="error.length > 0 ? 'visible' : 'invisible'"
            >
              {{ error }}
            </p>
            <!-- Submit button -->
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
