<app-parent-navbar></app-parent-navbar>
<div class="row col-12">
  <div class="col-1"><app-parent-sidebar></app-parent-sidebar></div>
  <div class="col-11">
    <div class="container mt-5">
      <h3 class="mb-3">Leave History</h3>
      <div class="row mb-3 col-12">
        <div class="form-group d-flex col-12">
          <div class="col-7 d-flex">
            <div class="col-6">
              <label for="statusDropdown">Status:</label>
              <select
                class="form-control"
                name="status"
                ngModel
                #modelStatus="ngModel"
                (click)="changeStatus(modelStatus.value)"
              >
                <option value="" disabled>Filter</option>
                <option value="1">Pending</option>
                <option value="2">Approve</option>
                <option value="3">Reject</option>
                <option value="4">All</option>
              </select>
            </div>
            <div
              class="col-5 d-flex"
              *ngIf="filterResult != ''"
              style="padding-top: 40px; margin-left: 20px"
            >
              <p>Results:</p>
              <p style="font-weight: 700; margin-left: 5px">
                {{ filterResult }}
              </p>
            </div>
          </div>
          <div class="col-5 d-flex justify-content-end pt-4">
            <div class="form-check me-3">
              <input
                class="form-check-input"
                type="radio"
                name="permission"
                id="permission"
                [checked]="permission ? true : false"
                (click)="changeStatusPermission()"
              />
              <label class="form-check-label fs-5" for="permission">
                Permission
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="leave"
                id="leave"
                [checked]="leave ? true : false"
                (click)="changeStatusLeave()"
              />
              <label class="form-check-label fs-5" for="leave">Leave</label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="updatedDataList.length > 0 && leave" class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>S.no</th>
              <th>F.Name</th>
              <th>L Name</th>
              <th>DOA</th>
              <th>From</th>
              <th>To</th>
              <th>Reason</th>
              <th>Comments</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let leaveData of updatedDataList;
                let indexOfElement = index
              "
            >
              <td>{{ indexOfElement + 1 }}</td>
              <td>{{ leaveData.firstName }}</td>
              <td>{{ leaveData.lastName }}</td>
              <td>{{ leaveData.appliedDate }}</td>
              <td>{{ leaveData.fromDate }}</td>
              <td>{{ leaveData.toDate }}</td>
              <td>{{ leaveData.leaveReason }}</td>
              <td>
                <textarea cols="20" rows="2" disabled>{{
                  leaveData.comments
                }}</textarea>
              </td>
              <td>
                <p
                  [ngClass]="
                    statusIndicatorApproved(leaveData.leaveStatusId)
                      ? 'approved'
                      : '' || statusIndicatorRejected(leaveData.leaveStatusId)
                      ? 'rejected'
                      : '' || statusIndicatorPending(leaveData.leaveStatusId)
                      ? 'pending'
                      : ''
                  "
                >
                  {{ leaveData.leaveStatus }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        *ngIf="updatedDataList.length > 0 && permission"
        class="table-responsive"
      >
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>S.no</th>
              <th>F.Name</th>
              <th>L Name</th>
              <th>DOA</th>
              <th>Date</th>
              <th>From Time</th>
              <th>To Time</th>
              <th>Reason</th>
              <th>Comments</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let leaveData of updatedDataList;
                let indexOfElement = index
              "
            >
              <td>{{ indexOfElement + 1 }}</td>
              <td>{{ leaveData.firstName }}</td>
              <td>{{ leaveData.lastName }}</td>
              <td>{{ leaveData.appliedDate }}</td>
              <td>{{ leaveData.fromDate }}</td>
              <td>{{ leaveData.fromTime }}</td>
              <td>{{ leaveData.toTime }}</td>
              <td>{{ leaveData.leaveReason }}</td>
              <td>
                <textarea cols="20" rows="2" disabled>{{
                  leaveData.comments
                }}</textarea>
              </td>

              <td>
                <p
                  [ngClass]="
                    statusIndicatorApproved(leaveData.leaveStatusId)
                      ? 'approved'
                      : '' || statusIndicatorRejected(leaveData.leaveStatusId)
                      ? 'rejected'
                      : '' || statusIndicatorPending(leaveData.leaveStatusId)
                      ? 'pending'
                      : ''
                  "
                >
                  {{ leaveData.leaveStatus }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="updatedDataList.length > 0" class="row">
        <div class="col-md-6">
          <p>
            Total Count:
            <span id="totalCount">{{ updatedDataList.length }}</span>
          </p>
        </div>
        <!-- <div class="col-md-6">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                  >Previous</a
                >
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>
      <div
        style="height: 400px; width: 400px; margin-left: 35%"
        *ngIf="updatedDataList.length == 0"
      >
        <ng-lottie [options]="options"></ng-lottie>
      </div>
    </div>
  </div>
</div>
