<app-admin-navbar></app-admin-navbar>
<div class="row col-12 mt-5 pt-5">
  <div class="col-1"><app-admin-sidebar></app-admin-sidebar></div>
  <div class="container mt-4 col-10">
    <div class="d-flex justify-content-between mb-4">
      <div><h4>Classrooms</h4></div>
      <div class="text-end">
        <button class="btn btn-primary" routerLink="/admin/add-classroom">
          Add Classroom
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search By ClassID"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-end">
        <button class="btn btn-success" type="button" (click)="ngOnInit()">
          <i class="fas fa-sync-alt"></i>
        </button>
      </div>
    </div>

    <table class="table table-bordered col-12">
      <thead>
        <tr>
          <th>S.no</th>
          <th>ClassID</th>
          <th>Standard</th>
          <th>Class Incharge ID</th>
          <th>Class Incharge</th>
          <th>ID</th>
          <th>Tamil</th>
          <th>ID</th>
          <th>English</th>
          <th>ID</th>
          <th>Maths</th>
          <th>ID</th>
          <th>Science</th>
          <th>ID</th>
          <th>Social</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classroom of classRoomDetails">
          <!-- Sample data, replace with your actual data -->
          <td>{{ classroom.classId }}</td>
          <td>{{ classroom.classId }}</td>
          <td>{{ classroom.standard }}</td>
          <td>{{ classroom.classTeacherId }}</td>
          <td>{{ classroom.classInCharge }}</td>
          <td>{{ classroom.tamilTeacherId }}</td>
          <td>{{ classroom.tamilTeacherName }}</td>
          <td>{{ classroom.englishTeacherId }}</td>
          <td>{{ classroom.englishTeacherName }}</td>
          <td>{{ classroom.mathsTeacherId }}</td>
          <td>{{ classroom.mathsTeacherName }}</td>
          <td>{{ classroom.scienceTeacherId }}</td>
          <td>{{ classroom.scienceTeacherName }}</td>
          <td>{{ classroom.socialTeacherId }}</td>
          <td>{{ classroom.socialTeacherName }}</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-9">
        <!-- Total count -->
        <p>Total Entries: {{ classRoomDetails.length }}</p>
      </div>
      <div class="col-md-3">
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
