<app-teacher-navbar></app-teacher-navbar>
<div class="row col-12">
  <div class="col-1"><app-teacher-sidebar></app-teacher-sidebar></div>
  <div class="ms-5 container table-container col-10">
    <div class="mb-4 d-flex justify-content-between">
      <h2 class="">Assignment</h2>
      <button routerLink="/teacher/add-assignment" class="btn btn-primary">
        Add Assignment
      </button>
    </div>

    <div
      *ngIf="assignmentDetails.length > 0"
      class="d-flex justify-content-between mb-3 col-12"
    >
      <div class="col-4 d-flex">
        <input
          type="text"
          class="form-control"
          placeholder="Search By Assignment Name"
          (keyup)="filterAssignment($event)"
        />
      </div>
      <button (click)="ngOnInit()" class="btn btn-outline-success">
        <i class="fas fa-sync"></i>
      </button>
    </div>

    <div *ngIf="filteredAssignmentDetails.length > 0" class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>S.no</th>
            <th>AssignmentID</th>
            <th>AssignmentName</th>
            <th>Class ID</th>
            <th>Standard</th>
            <th>Subject</th>
            <th>Created Date</th>
            <th>Due date</th>
            <th>Total mark</th>
            <th>Pass</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let assignment of filteredAssignmentDetails;
              let indexOfelement = index
            "
          >
            <td>{{ indexOfelement + 1 }}</td>
            <td>{{ assignment.assignmentId }}</td>
            <td>{{ assignment.assignmentName }}</td>
            <td>{{ assignment.classId }}</td>
            <td>{{ assignment.standard }}</td>
            <td>{{ assignment.subject }}</td>
            <td>{{ assignment.createdDate }}</td>
            <td>{{ assignment.dueDate }}</td>
            <td>{{ assignment.totalMark }}</td>
            <td>{{ assignment.minMark }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      *ngIf="assignmentDetails.length > 0"
      class="d-flex justify-content-between"
    >
      <p class="mt-3">Total Count: {{ assignmentDetails.length }}</p>
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> -->
    </div>
    <div
      *ngIf="filteredAssignmentDetails.length == 0"
      style="height: 400px; width: 400px; margin-left: 35%"
    >
      <ng-lottie [options]="options"></ng-lottie>
    </div>
  </div>
</div>
