<app-student-navbar></app-student-navbar>
<div class="row col-12">
  <div class="col-1"><app-student-sidebar></app-student-sidebar></div>
  <div class="container col-10">
    <div class="row">
      <!-- Assignment Conent -->
      <div>
        <div class="table-container mt-3 p-3">
          <h2 class="mt-3 mb-4">My Assignments</h2>
          <div class="d-flex col-4">
            <div class="input-group col-3 mb-3">
              <input
                type="text"
                class="form-control m-1 col-3"
                placeholder="Search By AssignmentID"
                aria-label="Search"
                aria-describedby="button-addon2"
              />
              <a
                class="btn btn-outline-secondary m-1"
                type="button"
                id="button-addon2"
                >Search</a
              >
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>S.no</th>
                  <th>AssignmentID</th>
                  <th>AssignmentName</th>
                  <th>Subject</th>
                  <th style="width: 120px">Comments</th>
                  <th>Created Date</th>
                  <th>Due date</th>
                  <th>Status</th>
                  <th style="width: 100px">Student Mark</th>
                  <th>Total mark</th>
                  <th>Pass/Fail</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let assignment of studentAssignmentList;
                    let indexOfElement = index
                  "
                >
                  <!-- Sample Data - Replace with your actual data -->
                  <td>{{ indexOfElement + 1 }}</td>
                  <td>{{ assignment.assignmentId }}</td>
                  <td>{{ assignment.assignmentType }}</td>
                  <td>{{ assignment.subjects }}</td>
                  <td>{{ assignment.comments }}</td>
                  <td>{{ assignment.createdDate }}</td>
                  <td>{{ assignment.dueDate }}</td>
                  <td>
                    <p
                      [ngClass]="
                        assignment.obtainedMark != null
                          ? 'status_submitted'
                          : 'status_pending'
                      "
                    >
                      {{
                        assignment.obtainedMark != null
                          ? "Submitted"
                          : "Pending"
                      }}
                    </p>
                  </td>
                  <td>{{ assignment.obtainedMark }}</td>
                  <td>{{ assignment.totalMark }}</td>
                  <td>
                    <p
                      [ngClass]="
                        assignment.obtainedMark > assignment.minMark &&
                        assignment.obtainedMark != null
                          ? 'status_submitted'
                          : '' ||
                            (assignment.obtainedMark < assignment.minMark &&
                              assignment.obtainedMark != null)
                          ? 'status_pending'
                          : ''
                      "
                    >
                      {{
                        assignment.obtainedMark > assignment.minMark &&
                        assignment.obtainedMark != null
                          ? "Pass"
                          : ""
                      }}
                      {{
                        assignment.obtainedMark < assignment.minMark &&
                        assignment.obtainedMark !== null
                          ? "fail"
                          : ""
                      }}
                      {{ assignment.obtainedMark === null ? "-" : "" }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between">
            <p>Total Count: {{ studentAssignmentList.length }}</p>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
