.lottie-leave-application {
  height: 200px;
  width: 200px;
}

.pending {
  background-color: var(--primary-100);
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.approved {
  background-color: green;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.rejected {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
