<app-admin-navbar></app-admin-navbar>
<div class="row col-12 mt-5 pt-5">
  <div class="col-1"><app-admin-sidebar></app-admin-sidebar></div>
  <div class="container mt-4 col-10">
    <h3>Parent Details</h3>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search By ParentID"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-success" type="button">
          <i (click)="ngOnInit()" class="fas fa-sync-alt"></i>
          <!-- Use the appropriate refresh icon -->
        </button>
      </div>
    </div>

    <table class="table table-bordered custom-table">
      <thead>
        <tr>
          <th>S.no</th>
          <th>StudentId</th>
          <th>Student Name</th>
          <th>Class</th>
          <th>ParentID</th>
          <th>Mother Name</th>
          <th>Father Name</th>
          <th>Phone number</th>
          <th>Email</th>
          <th>Date of Join</th>
          <th>Student Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parent of parentDetails">
          <td>{{ parent.id }}</td>
          <td>{{ parent.studentId }}</td>
          <td>{{ parent.studentName }}</td>
          <td>{{ parent.className }}</td>
          <td>{{ parent.parentId }}</td>
          <td>{{ parent.motherName }}</td>
          <td>{{ parent.fatherName }}</td>
          <td>{{ parent.phoneNumber }}</td>
          <td>{{ parent.email }}</td>
          <td>{{ parent.dateOfJoin }}</td>
          <td>
            <p
              [ngClass]="
                parent.studentStatus === 'PENDING'
                  ? 'status-pending'
                  : '' || parent.studentStatus === 'ACTIVE'
                  ? 'status-active'
                  : '' || parent.studentStatus === 'DROPOUT'
                  ? 'status-withdraw'
                  : '' || parent.studentStatus === 'GRADUATED'
                  ? 'status-graduate'
                  : ''
              "
            >
              {{ parent.studentStatus }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-9 text-left">
        <!-- Total count -->
        <p>Total Entries: {{ parentDetails.length }}</p>
      </div>
      <div class="col-md-3 text-right">
      </div>
    </div>
  </div>
</div>
