<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <img
    class="navbar-brand logo-image rounded-circle ms-4"
    src="../../../../assets/images/SSS-SMS-bgremoved.png"
    alt="Logo"
  />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse d-flex justify-content-between"
    id="navbarSupportedContent"
  >
    <div></div>
    <ul class="navbar-nav mr-auto">
      <div class="fs-3 text-white">S S S International School</div>
    </ul>
    <p class="me-5 mt-3" style="color: red">
      <i routerLink="/login" class="ms-3 mt-2 fas fa-2x fa-sign-out-alt"></i>
    </p>
  </div>
</nav>
